/** Import Bootstrap functions */
@import '~bootstrap/scss/functions';

$colby-blue: #002878;
$navbar-text-color: #fff;

$theme-colors: (
    primary: $colby-blue,
);

$font-family-base: libre-franklin, sans-serif !default;

/* Navbar */
$navbar-dark-color: $navbar-text-color !default;
$navbar-dark-toggler-border-color: $navbar-text-color !default;
$dropdown-link-color: $colby-blue !default;
$dropdown-link-hover-color: $colby-blue !default;

// don't move this code!
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
